main{
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.section-button{
  width: 50%;
  align-self: center;
  padding: 2%;
}